*,
*::after,
*::before {
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

@mixin shape(
  $width: 220px,
  $height: 200px,
  $border-radius: 50%,
  $color: black,
  $border-width: 0.2rem
) {
  border-radius: $border-radius;
  width: $width;
  height: $height;
  border: $border-width solid $color;
}

@mixin whisker() {
  width: 45px;
  height: 15px;
  border-radius: 40% 40% 0% 0%;
  border-top: 0.2rem solid black;
  background: transparent;
}
@mixin keyframes($name, $translateX, $translateY) {
  @keyframes #{$name} {
    0% {
      transform: scale(0.1) translate($translateX, $translateY);
    }
    15% {
      transform: translate($translateX + 20px, #{$translateY} - 20px);
    }
    30% {
      transform: translate($translateX + 45px, $translateY - 70px);
    }
    45% {
      transform: translate($translateX + 70px, $translateY - 120px);
    }
    60% {
      transform: translate($translateX + 95px, $translateY - 170px);
    }
    75% {
      transform: translate($translateX + 120px, $translateY - 220px);
    }
    90% {
      transform: translate($translateX + 145px, $translateY - 270px);
    }
    100% {
      transform: translate($translateX + 170px, $translateY - 320px);
    }
  }
}
.hello-kitty *,
.hello-kitty *:after,
.hello-kitty *:before {
  position: absolute;
}
.hello-kitty {
  width: 500px;
  height: 500px;
  //background: lightgrey;
  background: linear-gradient(
        to top left,
        rgb(255, 0, 0),
        rgb(255, 191, 0),
        rgb(128, 255, 0),
        rgb(0, 255, 64),
        rgb(0, 255, 255),
        rgb(0, 64, 255),
        rgb(128, 0, 255),
        rgb(255, 0, 191),
        rgb(255, 0, 0)
      );
  z-index: -5;
  position: relative;
  & .ear-container {
    z-index: 1;
    top: 110px;
    left: 120px;

    & .ear {
      width: 80px;
      height: 75px;
      border: 3px solid black;
      border-radius: 80% 15% 55% 50% / 55% 15% 80% 50%;
      background: white;

      &.left {
        transform: rotate(-80deg);
      }
      &.right {
        transform: rotate(-15deg);
        left: 140px;
      }
    }
  }
  @keyframes shaking-head {
    0% {
      transform: translateY(1px) rotate(3deg);
    }
    30% {
      transform: translateY(1px) rotate(3deg);
    }
    50% {
      transform: translateY(3px) rotate(5deg);
    }
    70% {
      transform: translateY(2px) rotate(3deg);
    }
    100% {
      transform: translateY(1px) rotate(3deg);
    }
  }
  & .head {
    @include shape(210px, 165px, 45%);
    top: 120px;
    left: 120px;
    z-index: 3;
    background: white;
    animation: shaking-head 2s linear infinite;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    //transition-timing-function: ease-in-out;
    & .face-container {
      position: relative;
      top: 80px;
      left: 45px;
      z-index: 3;
      & .eye {
        @include shape(15px, 22px, 45%);
        background: black;
        &.left {
          background: black;
          z-index: 3;
          &:hover {
            background: white;
            transition: 2s ease-out;
          }
        }
        &.right {
          background: black;
          left: 100px;
        }
      }
      & .nose {
        @include shape(22px, 15px, 45%);
        left: 45px;
        top: 20px;
        background: yellow;
      }
      & .whiskers-container {
        left: -70px;
        top: 12px;
        & .whiskers {
          width: 45px;
          height: 15px;
          border-radius: 40% 40% 0% 0%;
          //border: 1px solid black;
          border-top: 0.2rem solid black;
          background: transparent;
          &.whiskers-left {
            &:before {
              @include whisker();
              content: "";
              top: -20px;
              transform: rotate(10deg);
            }
            &:after {
              @include whisker();
              content: "";
              top: 15px;
              transform: rotate(-10deg);
            }
          }
          &.whiskers-right {
            left: 210px;
            &:before {
              @include whisker();
              content: "";
              top: -20px;
              transform: rotate(-10deg);
            }
            &:after {
              @include whisker();
              content: "";
              top: 15px;
              transform: rotate(10deg);
            }
          }
        }
      }
    }
  }

  & .body {
    @include shape(100px, 100px, 0%, transparent);
    background: transparent;
    left: 180px;
    top: 300px;
    & .arm-container {
      position: relative;
      top: 13px;
      & .arm {
        border: 5px solid black;
        background: white;
        &.left {
          z-index: 4;
          width: 45px;
          height: 20px;
          top: -40px;
          left: -20px;
          border-radius: 50% 50% 0% 0%;
        }
        &.right {
          z-index: -5;
          width: 45px;
          height: 20px;
          top: -40px;
          left: 70px;
          transform: rotate(40deg);
        }
        @keyframes shake {
          from {
            transform: translate(2px) rotate(0deg);
          }
          to {
            transform: translate(0px) rotate(2deg);
          }
        }
        @keyframes shake-wild {
          from {
            transform: translate(5px) rotate(0deg);
          }
          to {
            transform: translate(0px) rotate(15deg);
          }
        }
        &.left-fist {
          z-index: 5;
          width: 50px;
          height: 50px;
          border-radius: 50%;
          top: -30px;
          left: -23px;
          transform: rotate(-10deg);
          animation-name: shake;
          animation-duration: 0.5s;
          animation-iteration-count: infinite;
          .heart {
            display: inline-block;
            width: 15px;
            left: 15px;
            top: 15px;
            aspect-ratio: 1;
            border-image: radial-gradient(#b8bb8b, 69%, #0000 70%) 84.5%
              fill/100%;
            clip-path: polygon(-41% 0, 50% 91%, 141% 0);
          }
        }
        &.right-fist {
          z-index: 5;
          width: 45px;
          height: 50px;
          border-radius: 45%;
          top: -50px;
          right: -50px;
          transform: rotate(55deg);
          animation: shake-wild;
          animation-duration: 0.5s;
          animation-iteration-count: infinite;
        }
      }
    }

    & .feet-container {
      z-index: 2;
      position: relative;
      top: 50px;
      & .feet {
        width: 60px;
        height: 40px;
        border: 5px solid black;
        background: white;
        transform: skewX(0deg);
        &.left {
          top: -3px;
          left: 5px;
          border-radius: 70% 20% 20% 50% / 100% 35% 35% 50%;
        }
        &.right {
          top: -3px;
          right: -25px;
          border-radius: 20% 50% 35% 35% / 35% 20% 40% 20%;
        }
      }
    }
  }
  & .dress {
    z-index: -3;
    top: 270px;
    left: 160px;
    border-bottom: 100px solid #383695;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    height: 0;
    width: 130px;
  }
  & .dress-part {
    top: 305px;
    left: 210px;
    height: 55px;
    width: 90px;
    background: #f34a9c;
    transform: skew(20deg) rotate(-10deg);
    z-index: -2;
    border: 6px solid black;
    border-radius: 10px;
  }
  & .guitar {
    top: 295px;
    left: 120px;
    z-index: 1;
    & .guitar-body {
      width: 120px;
      height: 75px;
      border-radius: 40% 50% 20% 50% / 40% 50% 35% 50%;
      border: 5px solid black;
      background: #ffd619;
      transform: rotate(-20deg);
      &:after {
        content: "";
        width: 65px;
        height: 40px;
        border-radius: 50% 50% 20% 50% / 50% 50% 35% 50%;
        border: 5px solid black;
        background: black;
        top: 10px;
        left: 40px;
        // transform: rotate(-15deg);
      }
    }
    & .guitar-fingerboard {
      z-index: -1;
      width: 145px;
      height: 20px;
      left: 110px;
      top: 15px;
      border-radius: 10%;
      border-top: 5px solid black;
      border-bottom: 5px solid black;
      background: #bebddd;
      transform: rotate(-5deg);
    }
    & .guitar-end {
      width: 60px;
      height: 45px;
      background: #ffd619;
      left: 240px;
      top: -5px;
      transform: rotate(-5deg);
      border-radius: 20%;
      border: 10px solid black;
      z-index: 0;
      & .tuning-peg {
        z-index: -1;
        width: 12px;
        height: 40px;
        top: -8px;
        left: -5px;
        border-radius: 50%;
        background: #ffd619;
      }
      & .tuning-peg-2 {
        @extend .tuning-peg;
        left: 8px;
      }
      & .tuning-peg-3 {
        @extend .tuning-peg;
        left: 20px;
      }
      & .tuning-peg-4 {
        @extend .tuning-peg;
        left: 35px;
      }
      & .tuning-peg-5 {
        top: 5px;
        left: 25px;
        width: 20px;
        height: 20px;
        background: #ffd619;
        border-radius: 50%;
      }
    }
  }
  & .melody {
    @include keyframes(melody-animation, 20px, 20px);
    width: 5px;
    height: 45px;
    background: black;
    z-index: 10;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    position: absolute;
    top: 310px;
    left: 200px;
    transform: scale(0.1) rotate(-10deg);
    animation: melody-animation linear 2s infinite;
    &:before {
      content: "";
      width: 4px;
      height: 15px;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      transform: rotate(-40deg) skew(-8deg);
      z-index: 10;
      left: 5px;
      background: black;
    }
    &:after {
      content: "";
      width: 20px;
      height: 15px;
      z-index: 10;
      left: -15px;
      top: 40px;
      background: black;
      border-radius: 45%;
    }
  }
  & .delay-1 {
    animation-delay: 0.5s;
  }
  & .delay-2 {
    animation-delay: 1s;
  }

}